# Ignore the ensembl version that is not being used.
mouse_ensembl_version: 115
hsapiens_ensembl_version: 106

# input file paths
BASE_PATH: /mnt/gtklab01/megha/SpliCeAT/augment_transcriptome/
SAMPLES: /mnt/gtklab01/megha/SpliCeAT/augment_transcriptome/config/samples.tsv
ALIGNMENTS_DIR: /mnt/gtklab01/megha/SpliCeAT_add/OG_mm_trimmed/bam/ #dir w sample BAM & BAI files

majiq_lsv_file_path: /mnt/gtklab01/megha/SpliCeAT/ds_detection/results/majiq/majiq-lsvs.txt
leafcutter_cluster_sig_file_path: /mnt/gtklab01/megha/SpliCeAT/ds_detection/results/leafcutter/cluster_significance.txt
leafcutter_effect_size_file_path: /mnt/gtklab01/megha/SpliCeAT/ds_detection/results/leafcutter/effect_sizes.txt
whippet_diff_file_path: /mnt/gtklab01/megha/SpliCeAT/ds_detection/results/whippet/delta_psi.diff

# reference file paths
GTF: /mnt/gtklab01/megha/Reference/MM_GRCm39_E115_Gencode/gencode.vM38.annotation.gtf
genome_fasta: /mnt/gtklab01/megha/Reference/MM_GRCm39_E115_Gencode/GRCm39.primary_assembly.genome.fa
transcripts_fasta: /mnt/gtklab01/megha/Reference/MM_GRCm39_E115_Gencode/gencode.vM38.transcripts.fa

# Stringtie parameters
stringtie:
  threads: 4
  junc_cutoff: 20   # minimum junction coverage for Stringtie assembly
  strand: rf  # --rf : assume stranded library fr-firststrand, --fr : assume stranded library fr-secondstrand
